[Unit]
Description="{{ lobe_name }}-redis-cache"
PartOf={{ lobe_name }}-redis.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ redis_server }} {{ redis_cache_config }}
StandardOutput=file:{{ lobe_dir }}/logs/redis-cache.log
StandardError=file:{{ lobe_dir }}/logs/redis-cache.error.log
WorkingDirectory={{ sites_dir }}
